*_/
# __pycache__/
med/
*.bak
# _build/
# _static
# _templates
astrodm-VERSIONS-DE-DEVELOPPEMENT/
build/
Cahier Jupyter/
utilitaires-archives/
*.log
out.txt
astrodm-backup/
utilitaires-archives-tests/
modeles/
astrodm-doc/2020-028-a-faire.txt
astrodm-doc/2020-028-FAITS.txt